# gcovr configuration file
# Exclude specific directories from coverage computation

# Exclude test directories
exclude = .*test/.*\.[hc]pp

# Exclude subprojects directory
exclude = .*subprojects.*

# Exclude for branches coverage
exclude-throw-branches = yes
exclude-unreachable-branches = yes
decisions = yes